body{
    background-color: rgb(214, 145, 18);

}
header{

    font-size:50px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

/* Buttons */
ul{
    background-color: rgb(129, 233, 207);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#Question{
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
    font-family: 'Lusitana', serif;
}

.Text{
    font-size: 30px;
}

#Copyright{
    background:rgb(67, 67, 247);
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: 25px;
    font-family: 'Damion', cursive;
}

h1{
    text-align:center;
    margin-top: 50px ;
    font-size:85px;
    padding-bottom: 20px;
}

.questions{
text-align:center;
font-size:70px;
font-family:garamond;
}

.answers{
text-align:center;
margin-left: 50px;
margin-right:50px;
font-size:40px;
font-family:'Slabo 27px',serif;
}

#img1 {
   margin-left: 400px;
    height:150px;
    width:500px;
  }
#link{
    text-align: center;
    font-size: 40px;
}