/* Background Image */
body{
    position: relative;
    height: 100vh;
    background-color:rgb(214, 145, 18);;
    height: 100vh;
}


/* Buttons */
ul{
    background-color: rgb(82, 137, 255);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.Question{
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
    font-family: 'Lusitana', serif;
}
.Text{
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
}


#Copyright{
    background:rgb(82, 137, 255);
    width: 100%;

    bottom: 0;
    text-align: center;
    font-size: 25px;
    font-family: 'Damion', cursive;
    margin-bottom:0;
}
#img1 {
    margin-left: 400px;
     height:150px;
     width:500px;
     
   }

#prompt{
    font-size: 30px;
    text-align: center;
}
#calendars{
    display:flex;
    justify-content: space-around;
}
#caption{
    font-size: 20px;
    text-align: center;
}
#caption2{
    font-size:28px;
}