@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);
header{
    font-size:50px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}
/* Buttons */
ul{
    background-color: rgb(82, 137, 255);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

#Question{
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
    font-family: 'Lusitana', serif;
}
.Text{
    font-size: 30px;
}


#Copyright{
  background:rgb(82, 137, 255);
    width: 100%;
    position:absolute;
    bottom: 0;
    text-align: center;
    font-size: 25px;
    font-family: 'Damion', cursive;
}





body{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
  font-weight: 300;
  text-align: center;
  background-color: rgb(214, 145, 18);
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}
.question{
  font-size: 60px;
  font-family: 'Lusitana', serif;
  padding-bottom: 10px;
  top: 0px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: rgb(82, 137, 255);
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover{
    background-color: rgb(28, 68, 153);
}




.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  margin-top: 400px;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;

}

#img1 {
  margin-left: 0px;
   height:150px;
   width:500px;
 }
